/testing-samples/.idea/
/testing-samples/java-test-samples/.idea/
/testing-samples/java-test-samples/.aws-sam/
/testing-samples/java-test-samples/HelloWorldFunction/target/
/testing-samples/java-test-samples/HelloWorldFunction/*.iml
/testing-samples/java-test-samples/samconfig.toml

